@use "../abstracts/colors";

//==========
// Mobile

.footer {
    background-color: whitesmoke;
    color: colors.$dark-color;
    padding: 3em 5%;

    div {
        margin-bottom: 3em;
    }

    div:last-of-type {
        margin: 0;
    }

    &__logo {
        img {
            height: 2em;
        }
    }

    &__heading {
        color: colors.$dark-color;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    &__link {
        color: colors.$dark-color;
    }
}

.contact-info {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        li:nth-child(2) {
            margin-bottom: 1.5em;
        }

        li:last-of-type {
            margin: 0;
        }
    }

    &__icon {
        color: colors.$dark-color;
        margin-right: 0.5em;
    }
}

.services {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        li:last-of-type {
            margin: 0;
        }
    }

    &__icon {
        color: colors.$dark-color;
        margin-right: 0.5em;
    }
}

.links {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        li:last-of-type {
            margin: 0;
        }
    }

    &__icon {
        color: colors.$dark-color;
        margin-right: 0.5em;
    }
}

.social {
    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 3em;
            margin-right: 0.5em;

            a {
                color: colors.$dark-color;
            }
        }

        li:last-of-type {
            margin: 0;
        }
    }

    &__icon {
        color: colors.$dark-color;
        margin-right: 0.5em;
    }
}

//==========
// Tablet

@media all and (min-width: 768px) {
}

//==========
// Desktop

@media (min-width: 800px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 3em 15%;

        div {
            margin: 0;
        }

        &__logo {
            text-align: center;
        }
    }
}
