@use "../abstracts/colors";

//==========
// Mobile

.header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 5%;

    &__logo {
        height: 2em;
    }
}

.nav {
    position: absolute;
    top: 5em;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: colors.$primary-color;
    transform: translateX(-100%);
    transition: transform 0.5s;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 1em;

        li {
            margin-bottom: 1em;
        }
    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 2em;
    }

    &__link:hover {
        opacity: 0.6;
    }
}

.nav-tablet {
    display: none;
}

.nav--show-mobile {
    transform: translateX(0);
}

.nav--active-link {
    opacity: 0.6;
}

.download {
    display: none;
}

.hamburger {
    padding: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
    background-color: colors.$dark-color;
}

//==========
// Tablet

@media all and (min-width: 768px) {
    .nav-tablet {
        display: flex;

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;

            li {
                margin-left: 2em;
                margin-bottom: 0;
            }
        }

        &__link {
            text-decoration: none;
            color: colors.$dark-color;
            font-size: 1.1em;
        }
    }

    .nav {
        ul {
            li:nth-child(1) {
                display: none;
            }

            li:nth-child(2) {
                display: none;
            }

            li:nth-child(3) {
                display: none;
            }
        }
    }

    .download--tablet {
        display: block;
        border: none;
        color: colors.$dark-color;
        font-size: 0.6em;
        padding: 0.5em;
        cursor: pointer;
        border-radius: 3px;
        background-color: #fde428;
    }
}

//==========
// Desktop

@media (min-width: 1100px) {
    .header {
        height: 8vh;
        padding: 0 15%;
        justify-content: space-between;

        &__link {
            text-decoration: none;
        }
    }

    .nav-tablet {
        display: none;
    }

    .nav {
        position: unset;
        background-color: transparent;
        transform: translateX(0);
        height: max-content;
        width: max-content;
        transition: none;

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;

            li {
                display: flex;
                margin-left: 2em;
                margin-bottom: 0;
            }

            li:nth-child(1) {
                display: flex;
            }

            li:nth-child(2) {
                display: flex;
            }

            li:nth-child(3) {
                display: flex;
            }
        }

        &__link {
            text-decoration: none;
            color: colors.$dark-color;
            font-size: 1.1em;
        }
    }

    .hamburger {
        display: none;
    }

    .download {
        display: block;
        border: none;
        color: colors.$dark-color;
        font-size: 1em;
        height: 2em;
        width: 10em;
        padding: 0.2em 0.5em;
        cursor: pointer;
        border-radius: 3px;
        background-color: #fde428;
    }
}
