@use "../abstracts/colors" as colors;
@forward "global";

//==========
// Mobile

.info-container {
    margin: 3em 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3em;

    i {
        font-size: 3em;
        color: colors.$primary-color;
    }

    h3 {
        color: gray;
        font-weight: normal;
        margin: 1em 0 0.5em 0;
    }

    p {
        font-size: 1.5em;
    }
}

.info:last-of-type {
    margin: 0;
}

.what {
    display: flex;
    padding: 2em 1em;

    &__heading {
        margin-bottom: 1em;

        h2 {
            font-size: 2.5em;
            color: colors.$dark-color;
            margin-bottom: 0.5em;
        }

        hr {
            background-color: colors.$primary-color;
            border: none;
            width: 8em;
            height: 0.8em;
        }
    }

    &__text {
        p {
            font-size: 1.1em;
            margin-bottom: 1em;
        }

        p:last-of-type {
            margin: 0;
        }
    }

    &__text-inner {
        transition: all 1s;
        opacity: 1;
    }
}

.what__title--animation {
    transform: translateX(-20em);
    opacity: 0;
}

.what__text-inner--animation {
    transform: translateX(20em);
    opacity: 0;
}

.review-container {
    background-color: whitesmoke;
    padding: 2em 1em;

    &__heading {
        margin-bottom: 3em;

        h2 {
            margin-bottom: 0.5em;
        }
    }

    hr {
        background-color: colors.$primary-color;
        border: none;
        width: 8em;
        height: 0.8em;
        margin-bottom: 1em;
    }
}

.swiper-container {
    width: 100%;

    &__heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading {
        text-align: center;
        border-bottom: 1px solid colors.$primary-color;
        width: max-content;
    }
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    &__text {
        margin-bottom: 0.5em;
    }

    &__name {
        border-bottom: 2px solid colors.$primary-color;
        width: max-content;
    }

    &__rating {
        display: flex;

        img {
            height: 2em;
            width: 2em;
            margin-bottom: 2em;
            margin-right: 0.2em;
        }

        img:last-of-type {
            margin: 0;
        }
    }
}

.whyus {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;

    hr {
        background-color: colors.$primary-color;
        border: none;
        width: 8em;
        height: 0.8em;
        margin-top: 1em;
    }

    h2 {
        color: colors.$dark-color;
        font-size: 2.5em;
    }

    &__description {
        margin-bottom: 3em;

        ul {
            list-style-type: none;
            margin-top: 1em;
            margin-bottom: 1em;
            padding-left: 40px;

            li {
                font-size: 1.1em;
            }

            li::before {
                content: "\2022";
                color: colors.$primary-color;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-size: 1.6em;
            }
        }

        p {
            font-size: 1.1em;
        }
    }

    &__phone {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            text-align: center;

            p:first-of-type {
                font-size: 1.1em;
            }

            p:last-of-type {
                font-size: 2em;
                color: colors.$primary-color;
            }
        }
    }
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr {
        background-color: colors.$primary-color;
        border: none;
        width: 8em;
        height: 0.8em;
        margin: 1em 0 3em 0;
    }

    h3 {
        font-size: 2em;
    }

    &__inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__logo {
        width: 15em;
        object-fit: contain;
        margin-bottom: 3em;
    }
}

//==========
// Tablet

@media all and (min-width: 768px) {
    .info-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        height: 25vh;
        border-bottom: 1px solid lightgray;
        margin: 0;

        hr {
            height: 50%;
            width: 1px;
        }
    }

    .info {
        height: 100%;
        width: max-content;
        padding: 0;
        margin: 0;

        i {
            font-size: 2.5em;
        }

        h3 {
            font-weight: normal;
            font-size: 0.9em;
        }

        p {
            font-size: 1.1em;
        }
    }

    .what {
        display: flex;
        justify-content: center;
        align-items: center;

        &__image {
            display: none;
        }

        &__text {
            max-width: 35.625em;
        }
    }

    .review-container {
        padding: 2em;

        &__heading {
            margin-bottom: 2.5rem;
        }
    }

    .reviews {
        display: flex;
        flex-direction: row;

        div:first-of-type {
            img {
                width: 65%;
            }
        }

        div {
            width: 50%;
        }
    }

    .whyus {
        flex-direction: column;
    }

    .partners {
        text-align: center;
        margin: 5em 0;

        h2 {
            font-size: 2em;
        }

        &__inner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        &__logo {
            width: 20em;
            object-fit: contain;
        }
    }
}

//==========
// Desktop

@media all and (min-width: 1100px) {
    .info-container {
        height: 30vh;
        padding: 0 20%;
        justify-content: center;

        hr {
            height: 40%;
        }
    }

    .info {
        height: 100%;
        width: 20em;
        padding: 0;
        margin: 0;

        i {
            font-size: 2.5em;
        }

        h3 {
            font-size: 1.17em;
        }

        p {
            font-size: 1.5em;
        }
    }

    .review-container {
        padding: 5em 15%;

        &__heading {
            h2 {
                font-size: 2em;
            }

            p {
                font-size: 1.1em;
            }
        }
    }

    .review {
        &__title {
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        &__text {
            font-size: 1.1em;
        }
    }

    .what {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5em 0;

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        &__image {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .whyus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5em 15%;

        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 35.625em;
            margin: 0;
        }
    }

    .partners {
        &__inner-container {
            flex-direction: row;
        }

        &__logo {
            margin: 0;
            margin-right: 3em;
        }
    }
}
