@use "../abstracts/colors";
@forward "global";

//==========
// Mobile

.politik {
    margin: 0 5%;
    padding-bottom: 5em;

    &__title {
        display: flex;
        justify-content: center;
        color: #4d4d4d;
        margin: 1em 0;
    }

    &__heading {
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 1em;
    }

    &__kontakt {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

//==========
// Desktop

@media all and (min-width: 1100px) {
    .politik {
        margin: 0 15%;
    }
}
